# .env.example

# This is an example file for running the app locally.
# This must be copied into .env file
# To run
# - use npm script: npm run start_local
# - HerokuCLI: heroku local web

# Passphrase used to generate jwt token 
SUPER_SECRET='is2lab2020'

# Url to the MongoDb database
DB_URL='your-db-url-with-user-and-password'
