# .env.example

# This is an example file for running the app locally.
# This must be copied into .env file
# To run
# - use npm script: npm run start_local
# - HerokuCLI: heroku local web

# Passphrase used to generate jwt token 
SUPER_SECRET='your-secret-key'

# Url to the MongoDb database
# DB_URL='your-db-url-with-user-and-password'
DB_URL='mongodb://127.0.0.1:27017'

# Path to external frontend - If not provided, basic frontend in static/index.html is used
FRONTEND='../EasyLibVue/dist'